# === Terraform ===
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.zip
*.backup

# === Windows system folders ===
AppData/
Application Data/
Local Settings/
My Documents/
Favorites/
Cookies/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
desktop.ini
Thumbs.db

# === VS Code ===
.vscode/
.vscode/extensions/

# === Node/npm ===
node_modules/

# === OS & IDE clutter ===
.DS_Store
*.log
*.tmp
*.swp
*.bak